body {
  background-color: #0d0d0d;
}
input[type="text"] {
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  outline: none;
}
button {
  color: white;
  background-color: #002699;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  font-size: 18pt;
  border: none;
  outline: none;
  border-radius: 20px;
}
button:hover {
  background-color: #001a66;
}
.App {
  margin: 20px;
  color: white;
  background-color: #0d0d0d;
  font-size: 20px;
}
.FrontPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.WaitingRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ClueGiverPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-shrink: 1;
}
.GuesserPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-shrink: 1;
}
.LevelRevealPage {
  display: flex;
  flex-direction: column;
  text-align: center;

}
.RoomName {
  text-align: center;
  background-color: #2a2a2a;
  width: 200px;
  border-radius: 20px;
  align-self: flex-end;
}
.ClueGiverClueWord {
  font-size: 30px;
  padding: 20px;
}
.ShowLevel {
  text-align: center;
  line-height: 15px;
  padding: auto;
}
.Prompt {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-self: center;
  justify-content: space-evenly;
  font-size: 35px;
}
.PlayerScores {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 100%;
  justify-content: space-evenly;
}
.SingleScoreboard {
  text-align: center;
  justify-content: space-evenly;
  margin: 40px;
  border-radius: 15px;
  border: solid 15px;
  min-width: 250px;
  max-width: 250px;
}
